*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.characterList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.characterList article{
    margin-bottom: 20px;
    margin-right: 20px;
    border: gray 2px solid;
    padding: 2px;
}


.resultados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resultados article{
    margin-bottom: 20px;
    margin-right: 20px;
    border: gray 2px solid;
    padding: 2px;
}

form{
    width: 100%;
    padding: 10px 0;
}

    form input{
        width: 86%;
        padding: 10px;
    }
    form button{
        padding: 10px;
    }